
body {
    background-color: #303030;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}


#container {
    width: 90%;
    max-width: 1200px; /*  max-width to prevent excessive container width */
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Add padding for better spacing */
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


.about-me {
    flex: 1;
    padding: 20px;
}


h1[data-testid="slackUserName"] {
    font-size: 2rem;
    margin-bottom: 10px; /* margin for better spacing */
}

strong {
    font-weight: bold;
}


p[data-testid="currentDayOfTheWeek"],
p[data-testid="myTrack"],
p[data-testid="currentUTCTime"] {
    font-size: 1.8rem;
    margin-bottom: 10px; 
}
img {
    max-width: 100%;
    border-radius: 15px; 
    display: block;
    margin: 0 auto;
}




a {
    text-decoration: none;
    color: #007BFF; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #0056b3; 
}


@media (max-width: 599px) {
    #container {
        flex-direction: column-reverse; 
        align-items: center;
    }

    img {
        max-width: 70%;
    }

    h1[data-testid="slackUserName"] {
        font-size: 3rem;
        margin-bottom: 20px;
        text-align: center; 
    }

    p {
        font-size: 1.4rem;
        margin: 10px 0; 
        text-align: center;
    }

    img[data-testid="slackDisplayImage"] {
        border-radius: 50%; 
    }
}
